@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <h2 class="Titel">Ervaar elke zomer de golfen met onze surfboards!</h2>
        <img src="./img/2021-04-07 (2).png" width="1000" height="500" />
    </div>
    <h2 style="text-align:center">Welkom!</h2>
    <div class="Column2">
        <h3>Surf liefhebbers opgelet!</h3>
        <p>
            Van golven heb je nog nooit zo kunnen genieten!<br />
            Deze zomer kan je de golven weer op.<br />
            Met ons uitgebreide assortiment kan je altijd een surfboard vinden die bij je past.<br />
            met onze surfboarden kan je de golven stylish aan!
        </p>
    </div>
</body>